<div class="container">
    <form [formGroup]="formGroup">
        <div class="my-4">
            <h1>Fill out reservation info</h1>
        </div>
        <div class="row my-2">
            <div class="col-6">
                <span>Room Type: </span>
                <mat-form-field appearance="outline">
                    <mat-label>Room Type: </mat-label>
                    <mat-select formControlName="roomTypeId">
                        <mat-option *ngFor="let roomType of roomTypes" [value]="roomType.id">
                            {{roomType.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.controls['roomTypeId'].hasError('required')">Please choose a room type</mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <span>Reservation Date: </span>
                <mat-form-field appearance="outline">
                    <mat-label>Reservation Date</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="reservationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-6">
                <span>Number of Nights: </span>
                <mat-form-field appearance="outline">
                    <mat-label>Number of Nights</mat-label>
                    <input matInput type="number" formControlName="numberOfNights">
                </mat-form-field>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="onNext()">Next</button>
            </div>
        </div>
    </form>
</div>